body {
    background: linear-gradient(to right, #4c6c81, #083263);
}

.container {
    background-color: white;
    align-items: center;
    display: flex;
    margin: auto;

    width: 80vw;
    height: 50vh;
    margin-top: 10%;

    border-radius: 10px 80px 80px 80px;
}